.DS_Store
Host/v3dpsetup/Debug
Host/v3dpsetup/Release
.vscode
.vs
*.o
*.msi
*.exe
*.out
*.zip
*.crx
NodeHost/node_modules
NodeHost/src/app-linux
NodeHost/src/app-macos
.env
NodeHost/src/version.json
dist/
